
{% block dolmitos_documents_bundle_i_widget %}
    {% spaceless %}
        <i {{ block('widget_attributes') }}>{{ translation_domain is same as(false) ? value|raw : value|trans({}, translation_domain)|raw }}</i>
    {% endspaceless %}
{% endblock dolmitos_documents_bundle_i_widget %}

{% block dolmitos_documents_bundle_href_widget %}
    {% spaceless %}
        <a {{ block('widget_attributes') }}>{{ translation_domain is same as(false) ? value|raw : value|trans({}, translation_domain)|raw }}</a>
    {% endspaceless %}
{% endblock dolmitos_documents_bundle_href_widget %}
