{% trans_default_domain documentList.dataTable.translationDomain %}
<div class="datatable-container">
    <div style="display:none;" id="{{ documentList.dataTable.name }}_placeholder_template_source">
        <div class="tabulator-placeholder loading" tabulator-render-mode="virtual">
        <span>
            {% if documentList.dataTable.options.loadingPlaceholderText %}
                {{ documentList.dataTable.options.loadingPlaceholderText|trans }}
            {% else %}
                <i class="fa fa-spinner fa-spin"></i>
            {% endif %}
        </span>
        </div>
        <div class="tabulator-placeholder empty" tabulator-render-mode="virtual">
        <span>
            {% if documentList.dataTable.options.emptyPlaceholderText %}
                {{ documentList.dataTable.options.emptyPlaceholderText|trans }}
            {% else %}
                {{ 'documents.datatable.no_data'|trans }}
            {% endif %}
        </span>
        </div>
    </div>

    <div id="documentListContainer{{ documentList.dataTable.name }}">
        <div id="documentListDataTable{{ documentList.dataTable.name }}"></div>
        <div id="documentListDropzone{{ documentList.dataTable.name }}" class="dropzone dropzone-preview"></div>
    </div>

</div>