{% trans_default_domain documentList.dataTable.translationDomain %}

let documentList_{{ documentList.dataTable.name }} = new DocumentList({
    selector: "#documentListDataTable{{ documentList.dataTable.name }}",
    containerSelector: "#documentListContainer{{ documentList.dataTable.name }}",
    dropzoneSelector: "#documentListDropzone{{ documentList.dataTable.name }}",
    dataTableName: '{{ documentList.dataTable.name }}',
    dataTableOptions: {
        {{ render_datatable_tabulator_config(documentList.dataTable)|raw }}
    },
    postUrl: '{{ documentList.postPath }}',
    deleteUrl: '{{ documentList.deletePath }}',
});
