{% trans_default_domain documentList.dataTable.translationDomain %}

<div>

    {{ render_document_list_datatable(documentList) }}

    <script>

        {{ render_document_list_javascript(documentList) }}

    </script>

</div>